<section class="container">
  <div class="home">
    <img src="images/arrow.png" alt="" height="40px">
    <h1>Back to home</h1>
  </div>
  <div class="label">
    <div class="logo-group">
      <div class="logo-icon">
        <!-- <i class="icon-building"></i> -->
        <mat-icon class="icon-building">apartment</mat-icon>
      </div>
      <span class="brand">Exvora</span>
    </div>
  </div>
  <h1 class="create">Create Account</h1>
  <p class="details">Join thousands of traders worldwilde</p>
  <form action="">  
    
  </form>
</section>