<div class="exchange-dialog">
  <h2>Exchange Details</h2>

  <div class="details">
    <div class="item">
      <span class="label">Name:</span>
      <span class="value">{{ data.exchangeName }}</span>
    </div>
    <div class="item">
      <span class="label">Type:</span>
      <span class="value">{{ data.exchangeType }}</span>
    </div>
    <div class="item">
      <span class="label">Status:</span>
      <span class="value">
        <span class="status" [ngClass]="data.exchangeStatus.toLowerCase()">
          {{ data.exchangeStatus }}
        </span>
      </span>
    </div>
    <div class="item">
      <span class="label">Created:</span>
      <span class="value">{{ data.createdAt | date:'yyyy-MM-dd' }}</span>
    </div>
  </div>

  <div class="actions">
    @if (data.exchangeStatus === "Approved") {
    <button mat-stroked-button class="rej-btn" (click)="rejectExchange()">Reject</button>
    }
    @else if (data.exchangeStatus === "Rejected") {
    <button mat-flat-button class="app-btn" (click)="approveExchange()">Approve</button>
    }
    @else if (data.exchangeStatus === "Pending") {
    <button mat-stroked-button class="rej-btn" (click)="rejectExchange()">Reject</button>
    <button mat-flat-button class="app-btn" (click)="approveExchange()">Approve</button>
    }
  </div>
</div>