<section class="container">
    <p class="intro">Manage your cryptocurrency exchanges</p>

    <div class="exchange-container">
        <div class="exchange-card">
            <div class="text-section">
                <p class="title">Total Exchanges</p>
                <span class="count">{{ exchanges?.length }}</span>
            </div>
            <div class="icon-section">
                <mat-icon class="icon-building">apartment</mat-icon>
            </div>
        </div>

        <div class="exchange-card pending">
            <div class="text-section">
                <p class="title">Pending Exchanges</p>
                <span class="count">{{ pendingExchangesCount }}</span>
            </div>
            <div class="icon-section no-bg">
                <mat-icon class="icon-building pending-icon">schedule</mat-icon>
            </div>
        </div>
    </div>

    <div class="main">
        <p class="y-exchange">Your Exchanges</p>

        <button class="btn" (click)="toggleForm()">
            <mat-icon class="icon">add_2</mat-icon>
            Create Exchange
        </button>
    </div>

    @if (isFormOpen) {
    <app-create-exchange [isOpen]="isFormOpen" (toggle)="toggleForm()" (created)="onExchangeCreated()" />
    }

    <div class="bottom">
        <div class="exchanges">
            @for (exchange of exchanges; track $index) {
            <app-exchange-card [exchangeInput]="exchange" />
            }
        </div>

        @if (pagination && exchangeParams) {
        <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="pagination.totalItems"
            [pageSize]="exchangeParams.pageSize" [disabled]="false" [showFirstLastButtons]="true"
            [pageSizeOptions]="true ? pageSizeOptions : []" [hidePageSize]="false"
            [pageIndex]="exchangeParams.pageNumber - 1" aria-label="Select page" class="paginator">
        </mat-paginator>
        }
    </div>
</section>