<div class="navbar-wrapper">
    <nav class="navbar">
      <div class="container">
        <div class="nav-content">
          <div class="logo-group">
            <div class="logo-icon">
              <!-- <i class="icon-building"></i> -->
               <mat-icon class="icon-building">apartment</mat-icon>
            </div>
            <span class="brand">Exvora</span>
          </div>
          <div class="nav-links">
            <a href="#features">Features</a>
            <a href="#pricing">Pricing</a>
            <a href="#about">About</a>
            <a routerLink="/auth/login">
              <button class="btn-outline">Login</button>
            </a>
            <a routerLink="/auth/register">
              <button class="btn-primary">Get Started</button>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>