<div class="navbar-wrapper">
  <nav class="navbar">
    <div class="container">
      <div class="nav-content">
        <div class="logo-group">
          <div class="logo-icon">
            <!-- <i class="icon-building"></i> -->
            <mat-icon class="icon-building">apartment</mat-icon>
          </div>
          <span class="brand">Exvora</span>
        </div>
        <div class="nav-links">
          @if (accountService.loggedInUserSig(); as user) {
          <button class="btn-outline-logout" (click)="logout()">Logout</button>
          }
          @else {
          <a routerLink="/account/login">
            <button class="btn-outline">Login</button>
          </a>
          }
        </div>
      </div>
    </div>
  </nav>
</div>