<section class="container">
    <div class="left-side">
        <div class="top">
            <div class="intro">
                <mat-icon>apartment</mat-icon>
                <h1>Exchange Management</h1>
            </div>
            <p>Review and approve exchange applications</p>
        </div>
        <div class="details">
            <p>Review Exchanges</p>
            <button mat-flat-button class="action">
                Review Now
            </button>
        </div>
    </div>
    <div class="right-side">
        <div class="top">
            <div class="intro">
                <mat-icon>currency_bitcoin</mat-icon>
                <h1>Currency Management</h1>
            </div>
            <p>Manage global currency listings and prices</p>
        </div>
        <div class="details">
            <p>Manage Currencies</p>
            <button mat-raised-button class="action">
                Manage
            </button>
        </div>
    </div>
</section>