.container {
  padding: 2rem 5rem;

  .top {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    .back-button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .intro {
      display: flex;
      flex-direction: column;

      h1 {
        margin: 0;
        font-size: 2rem;
      }

      p {
        color: #6b7280; // Tailwind's gray-500
        margin: 0;
      }
    }
  }

  .bottom {
    border: rgba(0, 0, 0, 0.1) 2px solid;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    .top-side {
      display: flex;
      flex-direction: column;

      h1 {
        margin: 0;
        font-size: 2rem;
      }

      p {
        color: #4B5563;
      }

      .table {
        // width: 100%;

        .table-source {
          width: 100%;
          border: 1px solid #e0e0e0;
          border-radius: 8px;
          overflow: hidden;

          th.mat-header-cell {
              background-color: #f5f5f5;
              font-weight: bold;
              color: #333;
              padding: 12px;
          }

          td.mat-cell {
              padding: 12px;
              color: #555;
          }

          tr.mat-row:hover {
              background-color: #f0f0f0;
          }
      }
      }
    }
  }
}