<section class="container">
    <div class="top">
        <button mat-stroked-button color="primary" class="back-button" routerLink="/user">
            <mat-icon class="icon">arrow_back</mat-icon>
            Back to Dashboard
        </button>
        <div class="intro">
            <h1>Currency Managemnet</h1>
            <p>Manage currencies for your approved exchanges</p>
        </div>
    </div>

    <div class="exchanges-wrapper">
        <div class="exchange-con">
            @for (exchange of exchanges; track $index) {
            <div class="exchange-card">
                <div class="top">
                    <p class="exchange-name">{{ exchange.exchangeName }}</p>
                    <span class="status-badge" [ngClass]="exchange.exchangeStatus.toLowerCase()">
                        {{ exchange.exchangeStatus }}
                    </span>
                </div>
                <div class="bottom-side">
                    <p class="exchange-description">{{ exchange.description }}</p>
                    @if (exchange.exchangeStatus === "Approved") {
                    <button class="btn" [routerLink]="['/currencies/' + exchange.exchangeName]">
                        <mat-icon class="icon">currency_bitcoin</mat-icon>
                        Manage Currencies
                    </button>
                    }
                </div>
            </div>
            }
        </div>

        <div class="pagination">
            <button (click)="goToPreviousPage()" [disabled]="!exchangesPagination">
                <mat-icon class="icon">arrow_back</mat-icon>
            </button>
            <button (click)="goToNextPage()" [disabled]="!exchangesPagination">
                <mat-icon class="icon">arrow_forward</mat-icon>
            </button>
        </div>
    </div>

    <div class="main">
        @for (exCur of exchangeCurrencies; track $index) {
        <div class="exchange-block">
            <div class="exchange-details">
                <div class="ex-con  ">
                    <mat-icon>apartment</mat-icon>
                    <h1 class="name">{{exCur.exchange.exchangeName}}</h1>
                </div>
                <p>Created on {{exCur.exchange.createdAt | date:'yyyy-MM-dd'}}</p>
            </div>
            <div class="add-cur">
                <button class="btn" (click)="openDialog(exCur.exchange.exchangeName)">
                    <mat-icon class="icon">add_2</mat-icon>
                    Add Currency
                </button>
            </div>
        </div>
        }
    </div>
    <div class="bottom">
        <div class="top-side">
            <h1>Exchange Currencies</h1>
            <p>Manage currencies</p>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input type="text" (keyup)="applyFilter($event)" matInput>
            </mat-form-field>
        </div>
        <div class="table">
            <table mat-table [dataSource]="dataSource" class="table-source">
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                </ng-container>

                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef>Symbol</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="first-letter">
                            {{ element.currency.symbol.slice(0, 2) | uppercase }}
                        </span>
                        <span class="full-symbol">
                            {{ element.currency.symbol | uppercase }}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef>Full Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.currency.fullName }}</td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let element">{{ element.currency.price | currency }}</td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Category</th>
                    <td mat-cell *matCellDef="let element">{{ element.currency.category }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{ element.currency.status }}</td>
                </ng-container>

                <!-- Table Header & Rows -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</section>