<section class="container">
    <div class="top">
        <button mat-stroked-button class="back-button" routerLink="/admin">
            <mat-icon class="icon">arrow_back</mat-icon>
            Back to Dashboard
        </button>
        <div class="intro">
            <h1>Exchange Management</h1>
            <p>Review and manage exchange applications</p>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom">
            <div class="top-side">
                <div class="left">
                    <h1>Global Currency</h1>
                    <p>Add, edit, and manage cryptocurrency listings</p>
                    <mat-form-field appearance="outline">
                        <mat-label>Search</mat-label>
                        <input type="text" (keyup)="applyFilter($event)" matInput>
                    </mat-form-field>
                </div>
                <div class="right">
                    <div class="add-cur">
                        <button class="btn" (click)="openDialog()">
                            <mat-icon class="icon">add_2</mat-icon>
                            Add Currency
                        </button>
                    </div>
                </div>
            </div>
            <div class="table">
                <table mat-table [dataSource]="dataSource" class="table-source">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>#</th>
                        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                    </ng-container>

                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef>Symbol</th>
                        <td mat-cell *matCellDef="let element">
                            <span class="first-letter">
                                {{ element.symbol.slice(0, 2) | uppercase }}
                            </span>
                            <span class="full-symbol">
                                {{ element.symbol | uppercase }}
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef>Full Name</th>
                        <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Price</th>
                        <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
                    </ng-container>

                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef>Category</th>
                        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                    </ng-container>

                    <ng-container matColumnDef="updatedAtUtc">
                        <th mat-header-cell *matHeaderCellDef>Updated At</th>
                        <td mat-cell *matCellDef="let element">{{ element.updatedAtUtc | intlRelativeTime }}</td>
                    </ng-container>

                    <!-- Table Header & Rows -->
                    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</section>